/*<-------------------------
GENERAL
---------------------------> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el desplazamiento suave */
html {
  scroll-behavior: smooth;
}

/*<-------------------------
HEADER
 ----------------------------> */

header {
  background-color: #054d7a;
  padding: 1rem 0;
}

header a img {
  border-radius: 10px;
  width: 25vw;
}

.collapse.navbar-collapse {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.collapse.navbar-collapse.show {
  height: auto;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1.5rem;
  transition: color 0.3s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  font-size: 1.7rem;
  transition: 0.3s;
  text-decoration: underline;
}

/*<-------------------------
 IMAGEN BIENVENIDA ----------------------------> */

#bienve {
  position: relative;
  overflow: hidden;
}

#bienve img {
  width: 100%;
  height: auto;
}

/* Estilos para el cuadrado flotante */
.presentation-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 70%; /* Ajusta el ancho máximo según tu preferencia */
}

/* Estilos para el texto dentro del cuadrado */
.presentation-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.presentation-text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Estilos para el botón debajo del cuadrado flotante */
.presentation-text .btn {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: opacity 0.3s, transform 0.3s, width 0.3s;
}

.presentation-text .btn:hover {
  background-color: #02881f;
  display: inline;
  opacity: 1;
  transform: scale(1.1);
  width: 50%;
}

/* Estilos para el enlace de WhatsApp */
#whatsapp-link {
  display: inline-flex;
  align-items: center;
  position: relative;
}

#whatsapp-icon {
  margin-left: 45%;
  display: none;
  transition: opacity 0.3s, transform 0.3s, width 0.3s;
  transform-origin: center center;
  opacity: 0;
  width: 10%;
}

/* Estilos para el enlace cuando se pasa el cursor sobre él */
#whatsapp-link:hover #whatsapp-text {
  display: none;
}

#whatsapp-link:hover #whatsapp-icon {
  display: inline;
  margin-left: 42%;
  opacity: 1;
  width: 15%;
  transform: scale(1.1);
}

/*<-------------------------
MEDICOS
----------------------------> */

.card-body div img {
  width: 100%;
  max-width: 300px; /* Ajusta el tamaño de la imagen */
  border-radius: 10px;
}

.card {
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 1.1rem;
  color: #6c757d;
}

.card-text {
  font-size: 1rem;
  line-height: 1.6;
}

.btn-primary {
  font-size: 1rem;
  padding: 10px 25px;
}

/*<-------------------------
SERVICIOS
----------------------------> */

.specialties-header {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #054d7a;
  color: #fff;
}

.specialties-header h2 {
  font-size: 2rem;
}

.subgroups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cambiamos space-around a space-between */
  margin: 50px;
}

.subgroup {
  width: 48%; /* Modificamos el ancho para dejar espacio entre los cuadros */
  padding: 20px;
  margin: 20px 0;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex; /* Usamos flex para alinear verticalmente los contenidos */
  flex-direction: column; /* Alineamos el contenido de arriba hacia abajo */
  align-items: center; /* Centramos horizontalmente */
}

.subgroup img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.subgroup h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subgroup p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: auto; /* Mover el botón al fondo */
}

.btn:hover {
  background-color: #0056b3;
}

/*<-------------------------
UBICACION
----------------------------> */

/* Estilo para la sección Carrusel y Google Maps */
.gallery-map {
  padding: 80px 0;
  background-color: #f9f9f9;
  text-align: center; /* Centrar el contenido horizontalmente */
}

.gallery-map h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

.gallery-map .carousel-inner {
  border-radius: 10px;
  height: 300px; /* Altura fija para igualar el iframe */
}

.gallery-map iframe {
  border-radius: 10px;
  height: 89%;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Asegurar que el carrusel se ajuste al tamaño de las imágenes */
.carousel-inner {
  width: 100%;
  max-height: 100%;
}

/* Asegurar que las imágenes del carrusel se ajusten correctamente */
.carousel-inner img {
  width: 100%;
  height: auto;
}

/*<-------------------------
CONTACTO
----------------------------> */

.contact-section {
  padding: 20px 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.contact-container {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-container h3 {
  text-align: center;
}

#cuadraditos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 20px;
}

.appointment {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.titles {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 20px;
}

.btm {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btm:hover {
  background-color: #0056b3;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container ul li {
  margin-bottom: 10px;
}

.contact-container ul li span {
  font-weight: bold;
}

/*<-------------------------
FOOTER
----------------------------> */

.footer {
  background-color: #054d7a;
  text-align: center;
}

.social-icons {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 24px;
  color: #333;
  transition: color 0.3s;
  font-weight: bold;
}

.social-icon:hover {
  color: #007bff;
}

footer p {
  font-weight: bold;
}

h6 {
  text-align: end;
  font-size: 14px;
  background-color: #333;
  color: #bbbbbb;
  padding: 0;
  margin: 0;
}

/*<-------------------------
BOTON ARRIBA
----------------------------> */

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: gray;
  height: 6%;
  width: 3%;
}

#scrollToTopBtn img:hover {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

#scrollToTopBtn img {
  width: 90%;
  height: auto;
}

/*<-------------------------
HTML-MEDICOS
----------------------------> */

.doctor-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.doctor-card div h2 {
  text-align: center;
}

/* Estilo de imagen brillante */
.doctor-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid #f2f2f2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Estilo de imagen en hover */
.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.doctor-card:hover img {
  border-color: #36a0fc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo para la información del médico */
.doctor-card .info {
  text-align: left;
  flex: 1;
}

/* Estilo para los íconos de redes sociales en la versión vertical */
.social-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

/* Estilo para cada ícono de red social */
.social-icon-a {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.social-icon-a:hover {
  border-radius: 10px;
}

/*<-------------------------
HTML-ESPECIALIDADES
----------------------------> */
.specialty-description {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#img-espe {
  border-radius: 5px;
}

.specialty-description h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-decoration: underline;
  font-family: "Noto Serif", serif;
}

.specialty-description p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: "Noto Serif Display", serif;
}

/*<-------------------------
MEDIAS
----------------------------> */

@media only screen and (max-width: 768px) {
  header a img {
    width: 35vw;
  }

  .presentation-text {
    padding: 10px;
  }

  .presentation-text h2 {
    font-size: 18px;
  }

  .presentation-text p {
    font-size: 12px;
  }

  .presentation-text a.btn {
    font-size: 12px;
    padding: 12px 20px;
  }

  .social-icons-container {
    position: static;
    flex-direction: row;
    align-items: center;
  }

  .doctor-card {
    flex-direction: column; /* Cambia a una disposición vertical */
    text-align: center;
  }

  .doctor-card img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social-icons-container {
    flex-direction: row; /* Cambia a una disposición horizontal */
    padding: 0;
    border: none;
  }

  .social-icon {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 455px) {
  header a img {
    width: 45vw;
  }

  .presentation-text h2 {
    font-size: 16px;
  }

  .presentation-text p {
    font-size: 10px;
  }

  .presentation-text a.btn {
    font-size: 10px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 380px) {
  .presentation-text h2 {
    font-size: 14px;
  }

  .presentation-text p {
    font-size: 8px;
  }

  .presentation-text a.btn {
    font-size: 8px;
    padding: 8px 16px;
  }

  .question {
    font-size: 0.7rem;
  }
}
