/*<-------------------------
GENERAL
---------------------------> */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*<-------------------------
HEADER
 ----------------------------> */

header{
    background-color: #054d7a;
    padding: 1rem 0;
}

header a img{
    border-radius: 10px;
    width: 25vw;
}

.collapse.navbar-collapse {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.collapse.navbar-collapse.show {
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1.5rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-link:hover {
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    text-decoration:underline;
}


/*<-------------------------
 IMAGEN BIENVENIDA ----------------------------> */ 

#bienve {
    position: relative;
    overflow: hidden;
}

#bienve video {
    width: 100%;
    height: auto;
}

.presentation-text {
    transform: translate(-50%, -50%);
}

.presentation-text h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.presentation-text p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.presentation-text a.btn {
    font-size: 1rem;
    padding: 10px 25px;
}

@media (min-width: 768px) {
    .presentation-text h2 {
        font-size: 2rem;
    }

    .presentation-text p {
        font-size: 1.25rem;
    }

    .presentation-text a.btn {
        font-size: 1.2rem;
        padding: 12px 30px;
    }
}


/*<-------------------------
MEDICOS
----------------------------> */

.card-body div img {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño de la imagen */
    border-radius: 10px;
}

.card {
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-description {
    font-size: 1.1rem;
    color: #6c757d;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
}

.btn-primary {
    font-size: 1rem;
    padding: 10px 25px;
}


/*<-------------------------
SERVICIOS
----------------------------> */

.specialties-header {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #054d7a;
    color: #fff;
}

.specialties-header h2 {
    font-size: 2rem;
}

.subgroups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.subgroup {
    width: 45%;
    padding: 20px;
    margin: 20px 0;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.subgroup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.subgroup h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.subgroup p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


/*<-------------------------
UBICACION
----------------------------> */

/* Estilo para la sección Carrusel y Google Maps */
.gallery-map {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center; /* Centrar el contenido horizontalmente */
}

.gallery-map h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.gallery-map .carousel-inner {
    border-radius: 10px;
    height: 300px; /* Altura fija para igualar el iframe */
}

.gallery-map iframe {
    border-radius: 10px;
    height: 91%;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Asegurar que el carrusel se ajuste al tamaño de las imágenes */
.carousel-inner {
    width: 100%;
    max-height: 100%;
}

/* Asegurar que las imágenes del carrusel se ajusten correctamente */
.carousel-inner img {
    width: 100%;
    height: auto;
}



/*<-------------------------
CONTACTO
----------------------------> */

.contact-section {
    padding: 20px 0;
    background-color: #f9f9f9;
    margin: 10px;
}

.contact-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.notebook {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
}



/*<-------------------------
FOOTER
----------------------------> */

.footer {
    background-color: #054d7a;    padding: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}




/*<-------------------------
BOTON ARRIBA
----------------------------> */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: gray;
    height: 6%;
    width: 3%;
}

#scrollToTopBtn img:hover {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#scrollToTopBtn img {
    width: 90%;
    height: auto;
}

/*<-------------------------
MEDIAS
----------------------------> */

@media only screen and (max-width: 768px) {
    .presentation-text h2 {
        font-size: 18px; 
    }

    .presentation-text p {
        font-size: 12px;
    }
}